body {
    font-family: Arial;
    background: #f4f9f4;
    text-align: center;
}

.container {
    width: 90%;
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    margin-top: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.rating span {
    font-size: 35px;
    cursor: pointer;
    transition: 0.2s;
}

.rating span:hover {
    transform: scale(1.2);
}

textarea {
    width: 100%;
    height: 80px;
    margin-top: 15px;
    padding: 10px;
    border-radius: 5px;
}

button {
    margin-top: 10px;
    padding: 12px;
    width: 100%;
    background: green;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

button:hover {
    background: darkgreen;
}

.feedback {
    background: #e8f5e9;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    text-align: left;
}
